@font-face {
  font-family: 'arvo-regular';
  src: url("../fonts/Arvo-Regular.ttf") /* TTF file for CSS3 browsers */
}

* {
  box-sizing: border-box; }

.phone-number{
  margin-left: 0.75em;
}

.contact-info{
  margin-top: 0.5em;
}

.contact-info-left{

  width: 25%;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;

}
.contact-info-right{

  width: 75%;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

.line{
  margin-bottom: 1.5em;
}

.name {
  font: 1.6em 'arvo-regular', serif;
  margin-top: 0;
  margin-bottom: 0.1rem; }

.section-title{
  font: 1.8em 'arvo-regular', serif;
  color: #464646;
}
.section-content{
  border-left: solid #d4d4d4 1px;
}
.period {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0.5em;
  font: 0.8em 'Droid Sans', sans-serif;
  color: white;
  background-color: #0099e8;
}
.period-container{
  height: 0;
}
.description-title {
  font-family: 'arvo-regular', serif;
  font-size: 1.0em;
  font-weight: normal;
  line-height: 1em;
  color: #464646;
  margin-top: 0;
}
.description-sub-title{
  font: 0.8em 'Droid Sans', sans-serif;
  color: #8e8e8e;
  padding-bottom: 5px;
}
.description-content{
  color: #8e8e8e;
  font: 0.7em 'Droid Sans', sans-serif;
  padding-right: 5em;
  margin-top: 0.7em;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background: lightgray url(body-bg.png);
}

.container {
  background-color: white;
  box-shadow: 0 0 40px black;
  padding:0 15px 0 15px;
  margin: 0 auto;
}

.title{
  margin-top: -0.4em;
}

.description{
  margin: 2em 0 0 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #d4d4d4;
}

.section-description{
  color: #0099e8;
  margin-bottom: 1.5em;
}

.section{
  margin-top: 2em;
}

a {
  color: #1e6bb8;
  text-decoration: none; }
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
  margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.footer{
    background: url(contact-bg.png);
    border-top: 1px solid #d4d4d4;
    padding: 1em;
    font-size: 0.8em;    
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0; }
  .name {
    font: 3em 'arvo-regular', serif; }
  .section-title{
    font: 2em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.0em 'Droid Sans', sans-serif;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right:5em;
    font: 0.9em 'Droid Sans', sans-serif;
  }
  .title {
      margin-top: 5px;
    font: 0.9em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.25rem; }
  .project-tagline {
    font-size: 1rem; }
}


@media only screen and (max-width: 630px){
  .aside_el h2 {
    font: 2em 'Arvo', serif;
    line-height: 0.8em;
    margin-bottom: -10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
  .name {
    font-size: 3em}
  .section-title{
    font: 2em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1.0em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.0em 'Droid Sans', sans-serif;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right:5em;
    font: 0.9em 'Droid Sans', sans-serif;
  }
  .title {
    font: 1.3em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.3rem; }
  .project-tagline {
    font-size: 1.15rem; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 19%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }

  .name {
    font: 4em 'arvo-regular', serif; }
  .section-title{
    font: 2.0em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1.0em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.2em 'Droid Sans', sans-serif;
    margin-top: 0.3em;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right: 5em;
    font: 1em 'Droid Sans', sans-serif;
  }
  .title {
    font: 1.7em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.7rem; }
  .project-tagline {
    font-size: 1.25rem; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
