@font-face {
  font-family: 'arvo-regular';
  src: url("arvo/Arvo-Regular.ttf") /* TTF file for CSS3 browsers */
}

* {
  box-sizing: border-box; }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

.name {
  font: 1.6em 'arvo-regular', serif;
  margin-top: 0;
  margin-bottom: 0.1rem; }

.section-title{
  font: 1.8em 'arvo-regular', serif;
  color: #464646;
}
.period {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0.5em;
  position: absolute;
  right: 10px;
  font: 0.8em 'Droid Sans', sans-serif;
  color: white;
  background-color: #0099e8;
}
.description-title {
  font-family: 'arvo-regular', serif;
  font-size: 1.0em;
  font-weight: normal;
  line-height: 1em;
  color: #464646;
  margin-top: 0;
}
.description-sub-title{
  font: 0.8em 'Droid Sans', sans-serif;
  color: #8e8e8e;
  padding-bottom: 5px;
}
.description-content{
  color: #8e8e8e;
  font: 0.7em 'Droid Sans', sans-serif;
  padding-right: 5em;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background-color: #2e6da4;
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.Mcaf65a173208153e2a4d5b833484fce1H0&pid=15.1");
}

.container {
  background-color: white;
  box-shadow: 0 0 40px black;
  padding:0 15px 0 15px;
  margin: 0 auto;
}

.title{
  margin-top: -0.4em;
}

.description{
  margin: 2em 0 0 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #d4d4d4;
}

.section-description{
  color: #0099e8;
}

.section{
  margin-top: 2em;
}

.period-div{
  margin-top: 1.5em;
  border-left: solid #d4d4d4 1px;
}

a {
  color: #1e6bb8;
  text-decoration: none; }
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
  margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0; }
  .name {
    font: 3em 'arvo-regular', serif; }
  .section-title{
    font: 2em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.0em 'Droid Sans', sans-serif;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right:5em;
    font: 0.9em 'Droid Sans', sans-serif;
  }
  .title {
    font: 0.9em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.25rem; }
  .project-tagline {
    font-size: 1rem; }
}


@media only screen and (max-width: 630px){
  .aside_el h2 {
    font: 2em 'Arvo', serif;
    line-height: 0.8em;
    margin-bottom: -10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
  .name {
    font: 3em}
  .section-title{
    font: 2em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1.0em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.0em 'Droid Sans', sans-serif;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right:5em;
    font: 0.9em 'Droid Sans', sans-serif;
  }
  .title {
    font: 1.3em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.3rem; }
  .project-tagline {
    font-size: 1.15rem; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .name:before, .name:after {
    width: 28%;
  }
  .name:before, .name:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 19%;
    position: absolute;
    left: 0;
    top: 0.6em;
    z-index: 1;
  }
  .name:after {
    right: 0;
    left: auto;
  }

  .name {
    font: 4em 'arvo-regular', serif; }
  .section-title{
    font: 2.0em 'arvo-regular', serif;
    color: #464646;
  }
  .period {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5em;
    font: 1.0em 'Droid Sans', sans-serif;
    color: white;
    background-color: #0099e8;
  }
  .description-title {
    font-family: 'arvo-regular', serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
  }
  .description-sub-title{
    font: 1.2em 'Droid Sans', sans-serif;
    margin-top: 0.3em;
    color: #8e8e8e;
    padding-bottom: 5px;
  }
  .description-content{
    color: #c0c0c0;
    padding-right: 5em;
    font: 1em 'Droid Sans', sans-serif;
  }
  .title {
    font: 1.7em 'arvo-regular', serif; }
  .nav-bar {
    font-size: 1.7rem; }
  .project-tagline {
    font-size: 1.25rem; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*.main-content :first-child {*/
  /*margin-top: 0; }*/
/*.main-content img {*/
  /*max-width: 100%; }*/
/*.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {*/
  /*margin-top: 2rem;*/
  /*margin-bottom: 1rem;*/
  /*font-weight: normal;*/
  /*color: #159957; }*/
/*.main-content p {*/
  /*margin-bottom: 1em; }*/
/*.main-content code {*/
  /*padding: 2px 4px;*/
  /*font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;*/
  /*font-size: 0.9rem;*/
  /*color: #383e41;*/
  /*background-color: #f3f6fa;*/
  /*border-radius: 0.3rem; }*/
/*.main-content pre {*/
  /*padding: 0.8rem;*/
  /*margin-top: 0;*/
  /*margin-bottom: 1rem;*/
  /*font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;*/
  /*color: #567482;*/
  /*word-wrap: normal;*/
  /*background-color: #f3f6fa;*/
  /*border: solid 1px #dce6f0;*/
  /*border-radius: 0.3rem; }*/
  /*.main-content pre > code {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*font-size: 0.9rem;*/
    /*color: #567482;*/
    /*word-break: normal;*/
    /*white-space: pre;*/
    /*background: transparent;*/
    /*border: 0; }*/
/*.main-content .highlight {*/
  /*margin-bottom: 1rem; }*/
  /*.main-content .highlight pre {*/
    /*margin-bottom: 0;*/
    /*word-break: normal; }*/
/*.main-content .highlight pre, .main-content pre {*/
  /*padding: 0.8rem;*/
  /*overflow: auto;*/
  /*font-size: 0.9rem;*/
  /*line-height: 1.45;*/
  /*border-radius: 0.3rem; }*/
/*.main-content pre code, .main-content pre tt {*/
  /*display: inline;*/
  /*max-width: initial;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*overflow: initial;*/
  /*line-height: inherit;*/
  /*word-wrap: normal;*/
  /*background-color: transparent;*/
  /*border: 0; }*/
  /*.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {*/
    /*content: normal; }*/
/*.main-content ul, .main-content ol {*/
  /*margin-top: 0; }*/
/*.main-content blockquote {*/
  /*padding: 0 1rem;*/
  /*margin-left: 0;*/
  /*color: #819198;*/
  /*border-left: 0.3rem solid #dce6f0; }*/
  /*.main-content blockquote > :first-child {*/
    /*margin-top: 0; }*/
  /*.main-content blockquote > :last-child {*/
    /*margin-bottom: 0; }*/
/*.main-content table {*/
  /*display: block;*/
  /*width: 100%;*/
  /*overflow: auto;*/
  /*word-break: keep-all; }*/
  /*.main-content table th {*/
    /*font-weight: bold; }*/
  /*.main-content table th, .main-content table td {*/
    /*padding: 0.5rem 1rem;*/
    /*border: 1px solid #e9ebec; }*/
/*.main-content dl {*/
  /*padding: 0; }*/
  /*.main-content dl dt {*/
    /*padding: 0;*/
    /*margin-top: 1rem;*/
    /*font-size: 1rem;*/
    /*font-weight: bold; }*/
  /*.main-content dl dd {*/
    /*padding: 0;*/
    /*margin-bottom: 1rem; }*/
/*.main-content hr {*/
  /*height: 2px;*/
  /*padding: 0;*/
  /*margin: 1rem 0;*/
  /*background-color: #eff0f1;*/
  /*border: 0; }*/

/*@media screen and (min-width: 64em) {*/
  /*.main-content {*/
    /*max-width: 64rem;*/
    /*padding: 2rem 6rem;*/
    /*margin: 0 auto;*/
    /*font-size: 1.1rem; } }*/

/*@media screen and (min-width: 42em) and (max-width: 64em) {*/
  /*.main-content {*/
    /*padding: 2rem 4rem;*/
    /*font-size: 1.1rem; } }*/

/*@media screen and (max-width: 42em) {*/
  /*.main-content {*/
    /*padding: 2rem 1rem;*/
    /*font-size: 1rem; } }*/

/*.site-footer {*/
  /*padding-top: 2rem;*/
  /*margin-top: 2rem;*/
  /*border-top: solid 1px #eff0f1; }*/

/*.site-footer-owner {*/
  /*display: block;*/
  /*font-weight: bold; }*/

/*.site-footer-credits {*/
  /*color: #819198; }*/

/*@media screen and (min-width: 64em) {*/
  /*.site-footer {*/
    /*font-size: 1rem; } }*/

/*@media screen and (min-width: 42em) and (max-width: 64em) {*/
  /*.site-footer {*/
    /*font-size: 1rem; } }*/

/*@media screen and (max-width: 42em) {*/
  /*.site-footer {*/
    /*font-size: 0.9rem; } }*/
